@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



body {
    background-image: url('./assets/Imgburgers.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
   
}

.container-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: #000;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
    height: 70px;

}

button:hover {
    opacity: 0.8;
    color: #220101;
    text-shadow: #8133ff86 0.1em 0.1em 0.1em;
    transition: 0.3s ease-in-out;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    
}

li {
    border: 2px solid #8133ff;
    border-radius: 5px;
    background: #774504a2;
    
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.1em;

}

.item-price {
    font-weight: bold;
    color: #79cb15;
    text-shadow: black 0.2em 0.2em 0.2em;
}

@media screen and (max-width:480px){

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      
    }

    .container-buttons {
        width: 100%;
        margin-bottom: 20px;
        gap: 10px;
        font-size: 0.8rem;
    }

    .container-buttons button {
        width: 70px;
        font-size: xx-small;
    }


}